/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #42033D;
  --secondary: #d24669;
  --accent: #1f5673;
  --background: #d7d6d6;
  --text: #101010;
  --black: #000;
  --white: #fff;

  background-color: var(--background);
}